# init.org
emacs-init.el
emacs-init.html

eshell
quelpa

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
recentf
history
places
bookmarks
tramp
custom.el
.\#*

site-lisp
lib

# Org-mode
.org-id-locations
*_archive
org-clock-save.el

# elpa
elpa

# saved-places
*saved-places*

# recentf
.recentf

# projectile
projectile*

# url
url

# var
var

# EWW
eww-bookmarks

# eshell
/eshell/*
!/eshell/alias

# rcirc
rcirc-log

# SX (Stackexchange)
.sx

# Cask
.cask

# Helm
helm-adaptive-history

# smex
smex-items

# Flycheck
flycheck*

# yasnippet
snippets

# helm-github-stars
hgs-cache

# game
games/

# org-trello
.trello/
request/

# evil-tutor
.tutor/

# persistent-scratch
.persistent-scratch

# wconf
wconf-window-configs.el

# multiple-cursors
.mc-lists.el

# security manager settings (Emacs 25)
network-security.data

/semanticdb
