*.elc

# Custom
/custom.el

# ELPA
/elpa*/
/elpa

# Configuration files and Variable files for various packages
# This is done via package 'no-littering'
/etc/
/var/

# X Session Files
# Emacs generates the file when X Window Manager is shutdowning but Emacs is
# still running, see function 'emacs-session-save'
# Ref: http://emacs.stackexchange.com/a/12773/3889
/session.*

# ChangeLog (created by C-x 4 a)
ChangeLog

# Emacs module
*.o
*.so

# Emacs diary-file
/diary

# Org tangle file
lisp/chunyang-fun.el

# Extra
/init-extra.el
/init-org.el

# Cask
/.cask/

# Straight
/straight/

# el-get
/el-get/
